<h4>INTERPOLACION</h4>
<ul>
    <li>Nombre: {{nombre}}</li>
    <li>Email: {{correo}}</li>
    <li>Edad: {{edad}} Años</li>
    <li>Fecha: {{fecha}}</li>
    <li>HTML: <span [innerHTML]="html"></span></li>
    <li>Paises: {{paises}}</li>
</ul>
<hr>
<h4>CONDICIONALES</h4>
    <p *ngIf="edad>=18; else edadElse">Es mayor de edad</p>
         <ng-template #edadElse>
            <p>No es mayor de edad, es muy Joven</p>
         </ng-template>
<hr>
<h4>OPERADOR TERNARIO</h4>
    <p>{{(edad>=18 )? 'Ternario si es mayor':'Ternario no es mayor'}}</p>



